.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: transparent;
    margin-top: 30px;
}

.teamIcon {
    font-size: 34px;
}